<ion-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title"> About </h1>
    </ion-header-bar>
    <ion-content scroll="true">
	      <center><img src="img/about-us.png" height="100" width="400" /></center>
        <center><h1>Members</h1>
            <h4>1. Thanaboon Muangwong 57070503415<br><br>
	           2. Sirapat Na Ranong 57070503438<br><br>
             3. Chaleamkwan Bunyarattanamongkon 57070503444<br>
            <h1>Advisor</h1>
            <h4>Aj Kurt T Rudahl</h4>
	          <h3>Computer Engineering<br>
	          King Mongkut's University of Technology Thonburi
	      </center>
    </ion-content>
</ion-view>
