<ion-view>
    <ion-nav-bar class="bar-positive">
    	<ion-nav-title>
    		<h1 class="title"> Hospital Finder </h1>
    	</ion-nav-title>
    	<ion-nav-buttons side="right">
      		<button class="button icon ion-location" ng-click="btnCurrentLocation()">Current location</button>
      	</ion-nav-buttons>
		<ion-nav-buttons side="left">
      		<button class="button icon ion-plus-round" ng-click="btnShowHospital()">H</button>
			<button class="button icon ion-heart" ng-click="btnShowHealth()">C</button>
			<button class="button icon ion-medkit" ng-click="btnShowPharmacy()">P</button>
      	</ion-nav-buttons>
    </ion-nav-bar>
  	<ion-content scroll="false">
    	<div id="map" style="width: 100%;height: 100%"></div>
  	</ion-content>
</ion-view>
